In [2]:
import numpy as np
from snapml import GraphFeaturePreprocessor
import pandas as pd

In [3]:
df = pd.read_csv('HI_Small_formatted_transactions.csv')
df.head()

,EdgeID,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
0,2,3,3,10,14675.57,0,14675.57,0,0,0
1,17,24,24,10,897.37,0,897.37,0,0,0
2,158,163,163,10,99986.94,0,99986.94,0,0,0
3,218,215,215,10,16.08,0,16.08,0,0,0
4,281,265,265,10,10.30,0,10.30,0,0,0

In [5]:
# detach and store the last column as the target variable
y = df['Is Laundering']
X = df.drop(['Is Laundering'], axis=1)

X.head()

,EdgeID,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format
0,2,3,3,10,14675.57,0,14675.57,0,0
1,17,24,24,10,897.37,0,897.37,0,0
2,158,163,163,10,99986.94,0,99986.94,0,0
3,218,215,215,10,16.08,0,16.08,0,0
4,281,265,265,10,10.30,0,10.30,0,0

In [6]:
# dataframe to numpy array
X = X.to_numpy()
y = y.to_numpy()

print(X.shape)
print(X[0:5])

(5078345, 9)
[[2.000000e+00 3.000000e+00 3.000000e+00 1.000000e+01 1.467557e+04
  0.000000e+00 1.467557e+04 0.000000e+00 0.000000e+00]
 [1.700000e+01 2.400000e+01 2.400000e+01 1.000000e+01 8.973700e+02
  0.000000e+00 8.973700e+02 0.000000e+00 0.000000e+00]
 [1.580000e+02 1.630000e+02 1.630000e+02 1.000000e+01 9.998694e+04
  0.000000e+00 9.998694e+04 0.000000e+00 0.000000e+00]
 [2.180000e+02 2.150000e+02 2.150000e+02 1.000000e+01 1.608000e+01
  0.000000e+00 1.608000e+01 0.000000e+00 0.000000e+00]
 [2.810000e+02 2.650000e+02 2.650000e+02 1.000000e+01 1.030000e+01
  0.000000e+00 1.030000e+01 0.000000e+00 0.000000e+00]]

In [7]:
gfp = GraphFeaturePreprocessor()

In [12]:
params = {
    'num_threads': 18,
    'time_window': -1,
    'max_no_edges': -1,
    'vertex_stats': True,
    'vertex_stats_cols': [3, 4],
    'vertex_stats_feats': [0, 1, 2, 3, 4, 8, 9, 10],
    'fan': True,
    'fan_tw': 86410,
    'fan_bins': [1, 2, 3, 4, 5],
    'degree': True,
    'degree_tw': 86410,
    'degree_bins': [1, 2, 3, 4, 5],
    'scatter-gather': True,
    'scatter-gather_tw': 21610,
    'scatter-gather_bins': [1, 2, 3, 4, 5],
    'temp-cycle': True,
    'temp-cycle_tw': 86410,
    'temp-cycle_bins': [1, 2, 3, 4, 5],
    'lc-cycle': True,
    'lc-cycle_tw': 86410,
    'lc-cycle_bins': [1, 2, 3, 4, 5],
    'lc-cycle_len': 10
}

In [13]:
gfp.get_params()

{'num_threads': 18,
 'time_window': -1,
 'max_no_edges': -1,
 'vertex_stats': True,
 'vertex_stats_tw': 1728000,
 'vertex_stats_cols': [3, 4],
 'vertex_stats_feats': [0, 1, 2, 3, 4, 8, 9, 10],
 'fan': True,
 'fan_tw': 86410,
 'fan_bins': [0, 1, 2, 3, 4],
 'degree': True,
 'degree_tw': 86410,
 'degree_bins': [0, 1, 2, 3, 4],
 'scatter-gather': True,
 'scatter-gather_tw': 21610,
 'scatter-gather_bins': [0, 1, 2, 3, 4],
 'temp-cycle': True,
 'temp-cycle_tw': 86410,
 'temp-cycle_bins': [0, 1, 2, 3, 4],
 'lc-cycle': True,
 'lc-cycle_tw': 86410,
 'lc-cycle_len': 10,
 'lc-cycle_bins': [0, 1, 2, 3, 4]}

In [14]:
gfp.set_params(params)

In [3]:
# data split

X = np.load('HI_Small_features_out.npy')
print(X.shape)

(5078345, 96)

In [4]:
n_edges = X.shape[0]
print(n_edges)

train_end = int(n_edges * 0.8)
X_train = X[:train_end]
X_test = X[train_end:]

print(X_train.shape)
print(X_test.shape)

5078345
(4062676, 96)
(1015669, 96)

In [ ]:
from xgboost import XGBClassifier

bst =